<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundles</key>
	<array>
		<dict>
			<key>associated Xcode projects</key>
			<array>
				<string>../PutIOSync.xcodeproj</string>
			</array>
			<key>change date</key>
			<date>2001-01-01T00:00:00Z</date>
			<key>class</key>
			<string>BLBundleObject</string>
			<key>errors</key>
			<array/>
			<key>files</key>
			<array>
				<dict>
					<key>attachments</key>
					<dict>
						<key>backup</key>
						<dict>
							<key>5</key>
							<dict>
								<key>class</key>
								<string>BLWrapperHandle</string>
								<key>name</key>
								<string>Classes/SyncInstructionEditor/5/SyncInstructionEditor.xib</string>
							</dict>
						</dict>
					</dict>
					<key>change date</key>
					<date>2014-03-31T14:20:45Z</date>
					<key>class</key>
					<string>BLNibFileObject</string>
					<key>errors</key>
					<array/>
					<key>flags</key>
					<integer>1</integer>
					<key>hash</key>
					<string>7fba17f64f7fde95435cfcfa58483f56
</string>
					<key>name</key>
					<string>SyncInstructionEditor.xib</string>
					<key>objects</key>
					<array>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSWindow"; title = "Edit synced folder"; ObjectID = "224";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>224.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Synchronisierten Ordner bearbeiten</string>
								<key>en</key>
								<string>Edit synced folder</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Pick destination..."; ObjectID = "243";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>243.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Ziel auswählen...</string>
								<key>en</key>
								<string>Pick destination...</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSTextFieldCell"; title = "Destination"; ObjectID = "244";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>244.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Ziel</string>
								<key>en</key>
								<string>Destination</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSTextFieldCell"; title = "Origin"; ObjectID = "256";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>256.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Quelle</string>
								<key>en</key>
								<string>Origin</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Pick origin..."; ObjectID = "257";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>257.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Quelle auswählen...</string>
								<key>en</key>
								<string>Pick origin...</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Cancel"; ObjectID = "278";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>278.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Abbrechen</string>
								<key>en</key>
								<string>Cancel</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Save"; ObjectID = "280";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>280.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Speichern</string>
								<key>en</key>
								<string>Save</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Delete successfully downloaded files from put.io"; ObjectID = "289";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>289.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Erfolgreich heruntergeladene Dateien auf put.io löschen</string>
								<key>en</key>
								<string>Delete successfully downloaded files from put.io</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSTextFieldCell"; title = "Last sync: never"; ObjectID = "358";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>358.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Zuletzt synchronisiert: Nie</string>
								<key>en</key>
								<string>Last sync: never</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Forget synced items"; ObjectID = "369";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>369.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Synchronisierte Dateien vergessen</string>
								<key>en</key>
								<string>Forget synced items</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Sync all subfolders"; ObjectID = "413";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>413.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Alle Unterordner synchronisieren</string>
								<key>en</key>
								<string>Sync all subfolders</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Flatten subfolders when downloading"; ObjectID = "428";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>428.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Unterordner vor dem Herunterladen entschachteln</string>
								<key>en</key>
								<string>Flatten subfolders when downloading</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
						<dict>
							<key>change date</key>
							<date>2001-01-01T00:00:00Z</date>
							<key>class</key>
							<string>BLStringKeyObject</string>
							<key>comment</key>
							<string>Class = "NSButtonCell"; title = "Delete empty folders from put.io"; ObjectID = "dV0-z1-QMJ";</string>
							<key>errors</key>
							<array/>
							<key>flags</key>
							<integer>0</integer>
							<key>key</key>
							<string>dV0-z1-QMJ.title</string>
							<key>localizations</key>
							<dict>
								<key>de</key>
								<string>Leere Ordner auf put.io löschen</string>
								<key>en</key>
								<string>Delete empty folders from put.io</string>
							</dict>
							<key>snapshots</key>
							<dict/>
						</dict>
					</array>
					<key>snapshots</key>
					<dict/>
					<key>versions</key>
					<dict>
						<key>de</key>
						<string>4</string>
						<key>en</key>
						<string>5</string>
					</dict>
				</dict>
			</array>
			<key>flags</key>
			<integer>2</integer>
			<key>name</key>
			<string>Classes</string>
			<key>naming style</key>
			<integer>1</integer>
			<key>referencing style</key>
			<integer>1</integer>
			<key>user name</key>
			<string>Classes</string>
		</dict>
	</array>
	<key>languages</key>
	<array>
		<string>en</string>
		<string>de</string>
	</array>
	<key>preferences</key>
	<dict/>
	<key>reference language</key>
	<string>en</string>
	<key>supports preview</key>
	<true/>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
